@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');



body{
        margin: 0;
        padding: 0;
        background-image: url('img/oy_bkg.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        
    }

.navbar-brand {
        font-family: 'Fjalla One', sans-serif;
        font-size: 25px;
}

.container {
    width: 1600px;
    height: auto;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(325px, 40fr));
    grid-gap: 30px;
    padding: 50px;
    box-sizing: border-box;
    
}

.container .box1 {
    width: 450px;
    margin: -120px, 20px, 20px, 20px;
    position: relevant;
    background: rgb(248, 196, 99);
    padding: 60px;
    text-align: center;
    overflow: hidden;
    border-radius: 20px;
    color: rgb(8, 8, 8);
    opacity: 0.9;
}

.container .box2 {
    width: 480px;
    margin: -390px, 20px, 20px, 20px;
    position: -180px ;
    background: rgb(57, 173, 250);
    padding: 20px 40px 40px;
    text-align: center;
    overflow: hidden;
    border-radius: 20px;
    Color: rgb(8, 8, 8); 
    opacity: 0.9;
}

.container .box3 {
    width: 550px;
    margin: 150px, 30px, 30px, 30px;
    position: 280px ;
    background: rgb(172, 241, 92);
    padding: 80px 40px 40px;
    text-align: center;
    overflow: hidden;
    border-radius: 20px;
    color: black;
    opacity: 0.9;
}


.container .box1:nth-child(Weblink){
    background: linear-gradient(45deg,#036eb7,#64eaff);
}

.container .box2:nth-child(Weblink){
    background: linear-gradient(45deg,#036eb7,#64eaff);
}

.container .box3:nth-child(Weblink){
    background: linear-gradient(45deg,#036eb7,#64eaff);
}

.container .box4:nth-child(Weblink){
    background: linear-gradient(45deg,#036eb7,#64eaff);
}

.bkgp0 {
    height: 50px;
    width: 190px;
    text-align: center;
}

input[type=text] {
    width: 250px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    border-radius: 5px;
    align-items: center;
  }
  
  /* When the input field gets focus, change its width to 100% */
  input[type=text]:focus {
    width: 100%;
  }

  .footer {
  
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:rgb(14, 14, 15);
    color: rgb(228, 231, 26);
    text-align: center;
    opacity: 0.9;
    
 }

 .footer p{
     margin: 5px;
     font-family: 'Fjalla One', sans-serif;
     position: right;
 }

 .footer a[href] {
    text-decoration: none !important;
    color: rgb(241, 227, 21);
    font-family: 'Fjalla One', sans-serif;
 }