@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cuprum&family=Kanit:wght@500&family=Monda&display=swap');


body {
    margin: 0;
    padding: 0;
    background-image: url('img/bg10.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    
}

.navbar-brand {
    font-family: 'Fjalla One', sans-serif;
    font-size: 25px;
    color: chartreuse;
}

h3 span {
    font-size: 22px;
    font-family: 'Fjalla One', sans-serif;
    color: rgb(8, 8, 8);
}
h3 input.search-input {
    width: 1000px;    
    margin-left: auto;
    float: Right;
}
.mt32 {
    margin-top: 32px;
}


.table th {
    font-family: 'Cuprum', sans-serif;
    font-family: 'Kanit', sans-serif;
    font-family: 'Monda', sans-serif;
    font-size: 20px;

}

.table tr {
    font-family: 'Cuprum', sans-serif;
    font-family: 'Kanit', sans-serif;
    font-family: 'Monda', sans-serif;
    font-size: 20px;

}


.footer {
  
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    
    background-color:rgb(14, 14, 15);
    color: rgb(228, 231, 26);
    text-align: center;
    
    
 }

 .footer p{
     margin: 5px;
     font-family: 'Fjalla One', sans-serif;
     position: right;
 }

 .footer a[href] {
    text-decoration: none !important;
    color: rgb(241, 227, 21);
    font-family: 'Fjalla One', sans-serif;
 }