@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');


body{
    margin: 0;
    padding: 0;
    background-color: rgb(250, 246, 246);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: rgb(13, 13, 14);
    
}

h3 {
    text-align: center;
    padding: 15px;
    text-decoration-line: underline;
    color: rgb(3, 3, 3);
    

}


.col {
    margin:20px;


}



.footer {
  
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:rgb(14, 14, 15);
    color: rgb(228, 231, 26);
    text-align: center;
    opacity: 0.55;
    
 }

 .footer p{
     margin: 5px;
     font-family: 'Fjalla One', sans-serif;
     position: right;
 }

 .footer a[href] {
    text-decoration: none !important;
    color: rgb(241, 227, 21);
    font-family: 'Fjalla One', sans-serif;
 }